version: "3.9"
volumes:
  postgres_data:
  static:
  media:
services:
  db:
    image: postgres:13.2-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    expose: 
      - "5432"

  web:
   image: fsow/foodgram_psql:latest
   volumes:
     - static:/code/static
     - media:/code/media
   restart: always
   command: gunicorn foodgram.wsgi:application --bind 0.0.0.0:8000
   expose:
     - "8000"
   depends_on:
     - db
   env_file:
     - ./.env
 
  nginx:
    image: nginx:1.19.8-alpine
    volumes:
      - static:/usr/share/nginx/html/static:ro
      - media:/usr/share/nginx/html/media:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - web
