{% extends "base.html" %}
{% load static %}
{% block title %}foodgram восстановление пароля{% endblock %}
{% block head %}
{% include 'include/head.html' with pagestyle='pages/form.css' %}
{% endblock %}
{% block content %}
{% if validlink %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    <input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form__input">
                    {% if field.name == 'new_password1' %}
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой
                        персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых
                        паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    {% endif %}

                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
</main>
{% else %}
<main class="main container">
    <div class="form-container">
        <form class="form">
            {% csrf_token %}
            <p class="form__info-text">
                Ссылка недействительна
            </p>
        </form>
    </div>
</main>
{% endif %}
{% endblock %}