{% load static %}
{% load recipe_filters %}
{% load thumbnail %}
<div class="card" data-id="{{ recipe.slug }}">
    {% thumbnail recipe.image "480x480" as image %}
    <a href="{% url 'recipe' recipe_slug=recipe.slug %}" class="link" target="_self"><img src="{{ image.url }}" alt="Какой-то текст"
            class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe_slug=recipe.slug %}" target="_self">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
            <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }}</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'user' username=author %}" style="color: black">{{ name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if purchase %}
        <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
        {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}

        {% if user.is_authenticated and can_mark %}
        {% if bookmark %}
        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        {% endif %}
        {% endif %}
    </div>
</div>
