{% load static %}
<!doctype html>
<html>
{% block head %}
{% endblock %}
{% csrf_token %}
<body class="body">
    {% block menu %}
    {% include "include/menu.html" %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% include "include/footer.html" %}
</body>

</html>

{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endblock %}


{% block personal_js %}
{% endblock %}