{% extends "base.html" %}
{% load static %}
{% load recipe_filters %}
{% block title %}Главная{% endblock %}
{% block head %}
{% include 'include/head.html' with pagestyle='pages/index.css' %}
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        {% if request.resolver_match.url_name == 'index' %}
        <h1 class="main__title">Рецепты {{ url }} | {{request.resolver_match.url_name}}</h1>
        {% elif request.resolver_match.url_name == 'user' %}
        <h1 class="main__title">{{ author_name }}</h1>
        {% endif %}
        <ul class="tags">
            {% for tag in tags %}
            <li class="tags__item">
                <a id="{{ tag.eng_name }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox_active" 
                    href="#"></a>
                <span class="tags__label">{{ tag.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if can_subscribe %}
    <div class="author-subscribe" data-author="{{ author.username }}">
        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" 
            name="subscribe" {% if subscribed %}>Отписаться от автора{% else %}data-out>Подписаться на автора{% endif %}</button></p>
    </div>
    {% endif %}
    
    <div class="card-list">
        {% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'bookmarks' %}
        {% for recipe in page %}
        {% with bookmark=bookmarks|get_from_dict:recipe.id author=authors|get_from_dict:recipe.id %}
        {% with name=authors_names|get_from_dict:recipe.id recipe_tags=recipes_tags|get_from_dict:recipe.id %}
        {% include 'include/recipe_card.html' with author=author name=name recipe_tags=recipe_tags recipe=recipe %}
        {% endwith %}
        {% endwith %}
        {% endfor %}

        {% elif request.resolver_match.url_name == 'user' %}
        {% with author=author name=author_name %}
        {% for recipe in page %}
        {% with recipe_tags=recipes_tags|get_from_dict:recipe.id bookmark=bookmarks|get_from_dict:recipe.id %}
        {% include 'include/recipe_card.html' with author=author name=name recipe_tags=recipe_tags recipe=recipe %}
        {% endwith %}
        {% endfor %}
        {% endwith %}
        {% endif %}

    </div>
    {% if page.has_other_pages %}
    {% include 'include/paginator.html' with items=page paginator=paginator %}
    {% endif %}

</main>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>

{% if request.resolver_match.url_name == 'user' %}
{% if user.is_authenticated %}
<script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endif %}
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endif %}



{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'bookmarks' %}
<script src="{% static 'js/components/CardList.js' %}"></script>
{% if request.resolver_match.url_name == 'bookmarks' %}
<script src="{% static 'favorite.js' %}"></script>
{% endif %}
{% if user.is_authenticated %}
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}
{% endif %}


{% endblock %}