{% extends "base.html" %}
{% load static %}
{% load recipe_filters %}
{% block title %}Главная{% endblock %}
{% block head %}
{% include 'include/head.html' with pagestyle='pages/shopList.css' %}
{% endblock %}
{% block content %}
{% load thumbnail %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">

            {% for recipe in page %}
            <li class="shopping-list__item" data-id="{{ recipe.slug }}">
                <div class="recipe recipe_reverse">
                    {% thumbnail recipe.image "480x480" as image %}
                    <img src="{{ image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{ recipe.name }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
                <a href="{% url 'purchase' recipe_slug=recipe.slug %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>


    </div>
</main>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}