{% extends "base.html" %}
{% load static %}
{% block title %}foodgram регистрация{% endblock %}
{% block head %}
{% include 'include/head.html' with pagestyle='pages/form.css' %}
{% endblock %}
{% block content %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>

    <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            {% for field in form %}
            <div class="form__group">
                <label for="id_form-0-{{ field.name }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {% if field.name == "email" or field.name|slice:8 == "password" %}
                    <input type="{{ field.name|slice:8 }}" name="form-0-{{ field.name }}"
                        id="id_form-0-{{ field.name|slice:8 }}" class="form__input" {%if field.value %}
                        value="{{ field.value }}" {% endif %}>
                    {% else %}
                    <input type="text" name="form-0-{{ field.name }}" id="id_form-0-{{ field.name }}"
                        class="form__input" {%if field.value %} value="{{ field.value}}" {% endif %}>
                    {% endif %}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}