{% extends "base.html" %}
{% load static %}
{% load recipe_filters %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block head %}
{% include "include/head.html" with pagestyle="pages/single.css" %}
{% endblock %}
{% block content %}
{% load thumbnail %}
<main class="main container">
    <div class="single-card" data-id="{{ recipe.slug }}" data-author="{{ author.username }}">
        {% thumbnail recipe.image "480x480" as image %}
        <img src="{{ image.url }}" alt="какой-то текст" class="single-card__image">
        {% endthumbnail %}
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                {% if user.is_authenticated %}
                <div class="single-card__favorite">
                {% if in_bookmark %}
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                {% else %}
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                    <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                {% endif %}
                </div>
                {% endif %}
            </div>
            <ul class="single-card__items">
                {% for tag in tags %}
                <li class="single-card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
                {% endfor %}

            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} </p>
                <ul class="single-card__items">
                    <li class="single-card__item">
                        <p class="single-card__text"><span class="icon-user"></span> {{ author_name }}</p>
                    </li>
                    {% if can_edit %}
                    <li class="single-card__item"> <a style="margin-left: 2.5em" href="{% url 'edit' recipe.slug %}"
                        class="single-card__text">Редактировать рецепт</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                {% if in_purchase %}
                <li class="single-card__item"><button class="button button_style_light-blue-outline" name="purchases"><span 
                    class="icon-check button__icon"></span> Рецепт добавлен</button></li>
                {% else %}
                <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span
                    class="icon-plus"></span> Добавить в покупки</button></li>
                {% endif %}
                
                {% if can_subscribe %}
                <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe"
                    name="subscribe" {% if subscribed %}>Отписаться от автора{% else %} data-out>Подписаться на автора{% endif %}</button></li>
                {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for ingredient in recipe.ingredients.all %}
                    <p class=" single-card__section-item">{{ ingredient.food.name }} - {% if ingredient.amount %}
                        {{ingredient.amount }}{% endif %} {{ ingredient.food.unit }}.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>


{% if user.is_authenticated %}
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'singlePage.js' %}"></script>
{% else %}
<script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}
{% endblock %}