{% extends "base.html" %}
{% load static %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block head %}
{% include 'include/head.html' with pagestyle='pages/form.css' %}
{% endblock %}
{% block content %}
{% load thumbnail %}


<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">{{ form.name.label }}</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="name" class="form__input" {% if form.name.value %}
                        value="{{ form.name.value }}" {% endif %}>
                    <span class="form__error">{{ form.name.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in tags %}
                        <div class="tags__item">
                            <input type="checkbox" name="{{ tag.eng_name }}" id="id_{{ tag.eng_name }}"
                                class="tags__checkbox tags__checkbox_style_{{ tag.color }}" {% if tag in form.tag.initial %}checked{%endif %}>
                            <label for="id_{{ tag.eng_name }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tag.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>

                    <div class="form__field-group-ingredientes-container">
                        {% for ingredient in ingredients %}
                        <div class="form__field-item-ingredient" id="ing_{{forloop.counter0}}">
                            <span> {{ ingredient.food_name }} {% if ingredient.amount %}{{ ingredient.amount }}{%endif%}
                                {{ ingredient.food_unit }}.</span>
                            <span class="form__field-item-delete"></span>
                            <input id="id_form-{{forloop.counter0}}-name" name="form-{{forloop.counter0}}-name"
                                type="hidden" value="{{ ingredient.food_name }}">
                            {% if ingredient.amount %}
                            <input id="id_form-{{forloop.counter0}}-amount" name="form-{{forloop.counter0}}-amount"
                                type="hidden" value="{{ ingredient.amount }}">
                            {% endif %}
                            <input id="id_form-{{forloop.counter0}}-unit" name="form-{{forloop.counter0}}-unit"
                                type="hidden" value="{{ ingredient.food_unit }}">
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">{{ form.ingredient.errors }}</span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_{{ form.cooking_time.name }}" class="form__label">{{ form.cooking_time.label }}</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_{{ form.cooking_time.name }}" name="{{ form.cooking_time.name }}"
                        class="form__input" value="{{ form.cooking_time.value }}">
                    <label for="id_{{ form.cooking_time.name }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.cooking_time.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_{{ form.description.name }}" class="form__label">{{ form.description.label }}</label>
                <div class="form__field-group">
                    <textarea name="{{ form.description.name }}" id="id_{{ form.description.name }}" rows="8"
                        class="form__textarea">{{ form.description.value }}</textarea>
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">

                    <label for="id_{{ form.image.name }}" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" name="{{ form.image.name }}" id="id_{{ form.image.name }}"
                        value="{{ form.image.value }}">
                    <span class=" form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em"
                    href="{% url 'delete' recipe_slug=form.instance.slug %}" class="form__ingredient-link">Удалить</a>
            </div>
        </form>
    </div>


</main>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}
