name: foodgram workflow
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.2
      - name: Install dependecies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install -r requirements.txt
      - name: Lint with flake8
        run: flake8 --exclude 'tests','venv','*migration*','settings.py' .
      # - name: Test with pytest
      #   run: pytest
  build_and_push_to_docker_hub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push application to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./foodgram
          file: ./Dockerfile
          tags: fsow/foodgram_psql:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_to_docker_hub
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Copy files from repo via scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          source: "foodgram/docker-compose.yaml, foodgram/install_docker.sh, foodgram/nginx.conf"
          target: ~/
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          DB_ENGINE: $ {{ secrets.DB_ENGINE }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          envs: POSTGRES_USER,POSTGRES_PASSWORD,POSTGRES_DB,DB_ENGINE,DB_HOST,DB_PORT
          script: |
            chmod +x ~/install_docker.sh && sudo ~/install_docker.sh
            echo "POSTGRES_USER=$POSTGRES_USER" >> ~/.env && \
            echo "POSTGRES_PASSWORD=$POSTGRES_PASSWORD" >> ~/.env && \
            echo "POSTGRES_DB=$POSTGRES_DB" > ~/.env && \
            echo "DB_ENGINE=$DB_ENGINE" > ~/.env && \
            echo "DB_HOST=$DB_HOST" >> ~/.env && \
            echo "DB_PORT=$DB_PORT" >> ~/.env
            sudo docker-compose pull
            sudo docker-compose up -d
  send_message:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - name: send message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: Event ${{ github.event_name}} on ${{ github.workflow }} successfully!